@import 'fonts';

.leftBlock{
    display: flex;
    overflow: hidden;
    height: 622px;
}


.aboutMenu{
    display: flex;
    gap:30px;
    margin-top: 5px;
    padding: 7px 6px;
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 394px;
    height: 47px;
}

.aboutMenu a{
    font-family: 'inter400';
    font-size: 11px;
    line-height: 1;
    color: #939393;
    padding: 11px 10px;
}

.aboutMenu a:nth-child(1){
    color: white;
    padding: 12px 24px 10px 21px;
    background-color: #0A0A0A;
    border-radius: 5px;
    width: 121px;
    height: 34px;
        &:hover{
        background-color: green;
    }
}

.aboutMenu a:nth-child(3){
    padding-left: 35px;
    letter-spacing: 0.2px;
}

/* conteinerDesinger */

.conteinerDesinger {
    position: relative;
    top: 1px;
    left: -394px;
}

.conteinerDesBoxOne{
    display: flex;
    gap: 10px;
    position: absolute;
    top: 69px;
    left: 0;
    width: 394px;
    height: 155px;
    border-radius: 10px;
    background-color: #FFFFFF;
    gap: 14px;
}

.conteinerDesBoxOne:nth-child(2){
    top: 239px;
}

.conteinerDesBoxOne:nth-child(3){
    top: 411px;
}

.conteinerDesBoxOne:nth-child(4){
    top: 582px;
}

.lBox{
    display: flex;
    flex-direction: column;
    padding: 24px 0 0 27px;
}


.bigL {
    padding: 25px 0 0 25px;
    width: 49px;
    height: 49px;
}


.titleFigma {
    font-family: 'inter600';
    font-size: 14px;
    line-height: 1;
    color: #000000;
    margin-bottom: 2px;
}

.subtitleFigma {
    font-family: 'inter500';
    font-size: 11px;
    color: #6C6C6C;
    line-height: 1;
    letter-spacing: 0.2px;
    padding-top: 5px;
    width: 239px;
}

.zakladkaImgDisinger {
    position: absolute;
    top:27px;
    right: 16px;
    width: 20px;
    height: 20px;
}

.disingerBox {
    display: flex;
    gap: 6px;
    position: absolute;
    bottom: 50px;
    left: 29px;
}

.btnDisingerBox a{
    font-family: 'inter500';
    font-size: 7px;
    line-height: 1;
    color: #656565;
    padding: 4px 9px;
    background-color: #EFEFEF;
    border-radius: 3px;
}

.btnDisingerBox a:nth-child(1){
    width: 57px;
}

.btnDisingerBox a:nth-child(2){
    width: 33px;
}

.boxD a:nth-child(1){
    padding: 4px;
}


.footerDisingerBox {
    display: flex;
    justify-content: space-between;
    gap: 3px;
    position: absolute;
    bottom: 19px;
    left: 30px;
}

.starsImg{
    width: 9px;
    height: 9px;
}
.stars {
    flex-direction: row;
    display: flex;
    gap: 1px;
    left: -2px;
    position: relative;
    bottom: -3px;
}
.projectVerified {
    align-items: center;
    display: flex;
    position: relative;
    left: 85px;
    gap: 3px;
    bottom: -3px;
}

.projectVerified p{
    font-family: 'inter500';
    font-size: 9px;
    line-height: 1;
    color: #838383;
}

.okeyImg {
    width: 12px;
    height: 12px;
}
.proposals {
    display: flex;
    position: relative;
    bottom: -5px;
    right: -105px;
    letter-spacing: 0.1px;
}
.proposals p{
    font-family: 'inter500';
    font-size: 10px;
    line-height: 1;
    color: #000000;
}

.proposals span{
    font-family: 'inter500';
    font-size: 10px;
    line-height: 1;
    padding-left: 2px;
    color: #838383;
}