@import "menu";
@import 'content';
@import 'leftBlock';
@import 'middleBlock';
@import 'rightBlock';
@import 'fonts';

body{
    background-color: rgba(128, 128, 128, 0.2);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

